version: 2
updates:
- package-ecosystem: npm
  directory: /
  schedule:
    interval: weekly
    day: monday
    time: 05:00
    timezone: Australia/Sydney
  open-pull-requests-limit: 99
  cooldown:
    default-days: 7
- package-ecosystem: npm
  directory: /docs
  schedule:
    interval: weekly
    day: monday
    time: 05:00
    timezone: Australia/Sydney
  open-pull-requests-limit: 99
  cooldown:
    default-days: 7
- package-ecosystem: github-actions
  directory: /
  schedule:
    interval: daily
    time: 09:00
    timezone: Australia/Sydney
  open-pull-requests-limit: 10
- package-ecosystem: github-actions
  directory: /.github/actions/build-and-test
  schedule:
    interval: daily
    time: 09:00
    timezone: Australia/Sydney
  open-pull-requests-limit: 10
- package-ecosystem: github-actions
  directory: /.github/actions/prepare-repository
  schedule:
    interval: daily
    time: 09:00
    timezone: Australia/Sydney
  open-pull-requests-limit: 10
