.DS_Store
*-debug.log
*-error.log
/.nyc_output
/.vscode
/build
/dist

/tmp
node_modules
oclif.manifest.json
*.tgz
clients/**/sdk

# Ignore old lock files (pnpm-lock.yaml is tracked)
yarn.lock
package-lock.json
