version: 2.1
job_configuration: &job_configuration
  docker:
    - image: circleci/node:10-stretch
  working_directory: ~/repo
jobs:
  build-and-test:
    <<: *job_configuration
    resource_class: large
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v3-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v3-dependencies-

      - run: yarn install --frozen-lockfile

      - save_cache:
          paths:
            - node_modules
          key: v3-dependencies-{{ checksum "package.json" }}

      - run:
          name: Run tests
          command: yarn test

      - run:
          name: Compile
          command: yarn pack

      - run: ./bin/run --version

      - run: ./bin/run --help

      - run:
          name: Install speccy and swagger2openapi
          command: yarn add speccy swagger2openapi

      - run:
          name: Speccy OpenAPI 3
          command: ./bin/run generate --contract lib/src/test/examples/contract.ts -l yaml --generator openapi3 -o output/ && yarn speccy lint -s openapi-tags -s parameter-description output/contract.yml

      - run:
          name: Speccy OpenAPI 2
          command: ./bin/run generate --contract lib/src/test/examples/contract.ts -l yaml --generator openapi2 -o output/ && yarn --silent swagger2openapi output/contract.yml > output/contract.json && yarn speccy lint -s openapi-tags -s parameter-description output/contract.json

  prettier-check:
    <<: *job_configuration
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: Prettier
          command: |
            yarn prettier --list-different "**/*.js" "**/*.jsx" "**/*.ts" "**/*.tsx"

  tslint-check:
    <<: *job_configuration
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: TSLint
          command: |
            yarn tslint -p .

  publish:
    <<: *job_configuration
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/repo/.npmrc
      - run:
          name: Publish
          command: |
            npm publish --access=public

workflows:
  build-and-test:
    jobs:
      - build-and-test:
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
      - prettier-check:
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
      - tslint-check:
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
      - publish:
          requires:
            - build-and-test
            - prettier-check
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
            branches:
              ignore: /.*/
