version: 2.1

executors:
  node14:
    docker:
      - image: cimg/node:14.17
    resource_class: medium
    working_directory: ~/repo

  node16:
    docker:
      - image: cimg/node:16.20.1
    resource_class: medium
    working_directory: ~/repo

  node18:
    docker:
      - image: cimg/node:18.18.1
    resource_class: medium
    working_directory: ~/repo

  node20:
    docker:
      - image: cimg/node:20.4.0
    resource_class: medium
    working_directory: ~/repo

commands:
  prepare-repository:
    description: Convenience command to checkout the repository and install dependencies
    steps:
      - checkout
      - restore_cache:
          keys:
            - v3-dependencies-{{ checksum "package.json" }}
            - v3-dependencies
      - run:
          name: Install dependencies
          command: yarn install --frozen-lockfile
      - save_cache:
          paths:
            - node_modules
          key: v3-dependencies-{{ checksum "package.json" }}

  run-tests:
    description: Run the unit tests
    steps:
      - prepare-repository
      - run:
          name: Run the tests in parallel.
          environment:
            JEST_JUNIT_OUTPUT_DIR: ./test-reports/jest
            JEST_JUNIT_OUTPUT_NAME: results.xml
            JEST_JUNIT_CLASSNAME: "{filepath}"
          command: |
            set -uex
            TESTFILES=$(circleci tests glob lib/**/*.spec.ts | circleci tests split --split-by=timings)
            yarn ci:test $TESTFILES
      - store_test_results:
          path: ./test-reports

jobs:
  test-node14:
    executor: node14
    parallelism: 8
    steps:
      - run-tests

  test-node16:
    executor: node16
    parallelism: 8
    steps:
      - run-tests

  test-node18:
    executor: node18
    parallelism: 8
    steps:
      - run-tests

  test-node20:
    executor: node20
    parallelism: 8
    steps:
      - run-tests

  lint-check:
    executor: node14
    steps:
      - prepare-repository
      - run:
          name: Run lint checker
          command: yarn lint:check

  publish:
    executor: node14
    steps:
      - prepare-repository
      - run:
          name: Authenticate with NPM registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/repo/.npmrc
      - deploy:
          name: Publish
          command: npm publish --access=public

workflows:
  build-and-test:
    jobs:
      - test-node14:
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
      - test-node16:
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
      - test-node18:
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
      - test-node20:
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
      - lint-check:
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
      - publish:
          requires:
            - test-node14
            - test-node16
            - test-node18
            - test-node20
            - lint-check
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
            branches:
              ignore: /.*/
