# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
job_configuration: &job_configuration
  docker:
    - image: circleci/node:10-stretch
  working_directory: ~/repo
  resource_class: xlarge
jobs:
  build-and-test:
    <<: *job_configuration
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v3-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v3-dependencies-

      - run: yarn install --frozen-lockfile

      - save_cache:
          paths:
            - node_modules
          key: v3-dependencies-{{ checksum "package.json" }}

      - run:
          name: Run tests
          command: yarn test

      - run:
          name: Compile
          command: yarn pack

      - run: ./bin/run --version

      - run: ./bin/run --help

      - run:
          name: Run axios client sdk test
          command: ./bin/run generate --api examples/src/single-file/single-file-api.ts --generator axios-client -l typescript -o clients/axios/sdk && ./node_modules/.bin/jest clients/axios

      - run:
          name: Install speccy and swagger2openapi
          command: yarn add speccy swagger2openapi

      - run:
          name: Speccy OpenAPI 3 (single file)
          command: ./bin/run generate --api examples/src/single-file/single-file-api.ts -l yaml --generator openapi3 -o output/ && ./node_modules/.bin/speccy -s parameter-description lint output/single-file-api.yml

      - run:
          name: Speccy OpenAPI 3 (multiple files)
          command: ./bin/run generate --api examples/src/multi-file/multi-file-api.ts -l yaml --generator openapi3 -o output/ && ./node_modules/.bin/speccy -s parameter-description lint output/multi-file-api.yml

      - run:
          name: Speccy OpenAPI 2 (single file)
          command: ./bin/run generate --api examples/src/single-file/single-file-api.ts -l yaml --generator openapi2 -o output/ && ./node_modules/.bin/swagger2openapi output/single-file-api.yml > output/api3.json && ./node_modules/.bin/speccy -s parameter-description lint output/api3.json

      - run:
          name: Speccy OpenAPI 2 (multiple files)
          command: ./bin/run generate --api examples/src/multi-file/multi-file-api.ts -l yaml --generator openapi2 -o output/ && ./node_modules/.bin/swagger2openapi output/multi-file-api.yml > output/api3.json && ./node_modules/.bin/speccy -s parameter-description lint output/api3.json

  prettier-check:
    <<: *job_configuration
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: Prettier
          command: |
            ./node_modules/.bin/prettier --list-different "**/*.js" "**/*.jsx" "**/*.ts" "**/*.tsx"

  publish:
    <<: *job_configuration
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/repo/.npmrc
      - run:
          name: Publish
          command: |
            npm publish --access=public

workflows:
  version: 2
  build-and-test:
    jobs:
      - build-and-test:
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
      - prettier-check:
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
      - publish:
          requires:
            - build-and-test
            - prettier-check
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+$/
            branches:
              ignore: /.*/
